$white: #ffffff;
$black: #000000;
$darkBlack: #191c22;
$danger: #e85e59;
$orange: #FEAB5F;

$blue: #4B7ED1;
$green: #59B17C;

//$turquoise: #38AFB7; // light
$turquoise: #64D7DE; // dark
$active: #30e9bc;
$blueGrey50: #f1f1f1;
$blueGrey100: #d0d5dc;
$blueGrey200: #b2b9c4;
$blueGrey300: #949dad;
$blueGrey400: #7d889a;
$blueGrey500: #677589;
$blueGrey600: #5a6678;
$blueGrey700: #495362;
$blueGrey800: #2e3643;
$blueGrey900: #262d39;
$blueGrey950: #1e232d;
$blueGrey100-05: rgba($blueGrey100, 0.05);
$blueGrey100-10: rgba(#DBEBFF, 0.065);
$blueGrey100-20: rgba(#DBEBFF, 0.085);
$blueGrey500-14: rgba(103, 116, 137, 0.14);
$white-15: rgba(#ffffff, 0.15);
$blueGrey100-32: rgba(#D0D5DC, 0.32);
$blueGrey300-13: rgba($blueGrey300, 0.16);
$blueGrey300-32: rgba($blueGrey300, 0.32);
$blueGrey300-48: rgba($blueGrey300, 0.48);
$blueGrey500-14: rgba($blueGrey500, 0.14);
$blueGrey500-16: rgba($blueGrey500, 0.16);
$blueGrey500-32: rgba($blueGrey500, 0.32);
$blueGrey500-48: rgba($blueGrey500, 0.48);
$eventMainColor: #7bd7ff;

$tabsBackground: #27313d;
